<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Korona19</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/signin.css">
</head>
{#<form action="" method="post">#}
{#    <p>{{ error }}</p>#}
{#    <input type="text" name="sequence" >#}
{#    <button>submit</button>#}
{#</form>#}
<body>

    <div class="container">

      <form class="form-signin" action="" method="post">
        <h2 class="form-signin-heading">Korona19</h2>
        <label for="inputEmail" class="sr-only">Input</label>
        <input type="" id="" name="sequence" class="form-control" placeholder="Please input" required="" autofocus="">
        <button class="btn btn-lg btn-danger btn-block" type="submit">Search</button>
      </form>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


</body>
</html>